*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: palatino, serif;
  line-height: 1.55;
}

img {
  max-width: 100%;
  display: block;
}

main {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: calc(100vh - 100px);
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

main.home {
  display: flex;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
  }
  .intro {
    margin-bottom: 60px;
  }
}

.intro {
  min-width: 300px;
  padding: 80px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
