*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: palatino, serif;
  line-height: 1.55;
}

img {
  max-width: 100%;
  display: block;
}

main {
  min-height: 100vh;
  min-height: calc(100vh - 100px);
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.introbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .introbox {
    flex-direction: column;
  }
  .intro {
    margin-bottom: 60px;
  }
}

.intro {
  min-width: 300px;
  padding: 80px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

code.block {
  display: block;
  background-color: #fffeef;
  padding: 16px;
  border-radius: 8px;
  color: rgb(48, 48, 36);
  min-width: 450px;
}

code .keyword {
  color: #d73a49;
}

code .desc {
  color: #eba16c;
}

code .symbol {
  color: #7cba31;
  font-weight: bold;
}

code .name {
  color: #7cba31;
  font-weight: bold;
}

code .blockDescription {
  color: #979b7b;
  font-size: 60%;
  font-family: sans-serif;
  padding-bottom: 8px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.previewImg {
  border-radius: 8px;
  border: 8px solid #ddd;
  max-width: 80%;
  margin: 10px auto;
}
